{% extends "base.html" %}
{% load bootstrap %}
{% load admin_static %}
{% load static %}

{% block extrahead %}
{{ block.super }}
  <link rel="stylesheet" href="{% static 'resource_daily_scheduler/table_calendar.css'%}">
  <link rel='stylesheet' type='text/css' href="{% static 'css/jquery-ui/smoothness/jquery-ui.css' %}" />
  <script type='text/javascript' src="{% static 'js/jquery-ui.js' %}"></script>
  <script src="{% static 'resource_daily_scheduler/two_dimensional_scrollable_table.js'%}"></script>
  <script src="{% static 'resource_daily_scheduler/table_calendar.js'%}"></script>
  <script src="{% static 'resource_daily_scheduler/moment.js'%}"></script>
  <!--<script src="{% static 'resource_daily_scheduler/moment-timezone.js'%}"></script>-->
  <!--<script src="{% static 'resource_daily_scheduler/resource_daily_scheduler.js' %}"></script>-->
  <script src='/static/resource_daily_scheduler/csrf.js'></script>
  <script src="{% static 'resource_daily_scheduler/ajaxsubmit.js' %}"></script>
<script>
    var isAdmin = {{is_admin}};
    var eventColors = {{event_colors|safe}};
    var detailPath = "{{resource_detail}}";
    var getSchedule = "{{get_schedule}}";
</script>
<script>

	$(function() { // document ready

		$("#calendar").tableCalendar({
			resources:
			{% block resource_list %}
			[
				{ id: 'a', title: 'Auditorium A' },
				{ id: 'b', title: 'Auditorium B', eventColor: 'green' },
				{ id: 'c', title: 'Auditorium C', eventColor: 'orange' },
				{ id: 'd', title: 'Auditorium D', children: [
					{ id: 'd1', title: 'Room D1' },
					{ id: 'd2', title: 'Room D2' }
				] },
				{ id: 'e', title: 'Auditorium E' },
				{ id: 'f', title: 'Auditorium F', eventColor: 'red' },
				{ id: 'g', title: 'Auditorium G' },
				{ id: 'h', title: 'Auditorium H' },
				{ id: 'i', title: 'Auditorium I' },
				{ id: 'j', title: 'Auditorium J' },
				{ id: 'k', title: 'Auditorium K' },
				{ id: 'l', title: 'Auditorium L' },
				{ id: 'm', title: 'Auditorium M' },
				{ id: 'n', title: 'Auditorium N' },
				{ id: 'o', title: 'Auditorium O' },
				{ id: 'p', title: 'Auditorium P' },
				{ id: 'q', title: 'Auditorium Q' },
				{ id: 'r', title: 'Auditorium R' },
				{ id: 's', title: 'Auditorium S' },
				{ id: 't', title: 'Auditorium T' },
				{ id: 'u', title: 'Auditorium U' },
				{ id: 'v', title: 'Auditorium V' },
				{ id: 'w', title: 'Auditorium W' },
				{ id: 'x', title: 'Auditorium X' },
				{ id: 'y', title: 'Auditorium Y' },
				{ id: 'z', title: 'Auditorium Z' }
			]
			{% endblock %}
		});

	});

</script>
{% endblock %}
{% block content %}
	{% block content_header %}
	{% endblock %}
	<div id='calendar'></div>
	{% block content_foot %}
	{% endblock %}
<script src="{% static 'resource_daily_scheduler/resource_daily_scheduler.js' %}"></script>
{% endblock %}