{% extends "resource_daily_scheduler/table_scheduler_base.html" %}
{% load bootstrap %}
{% load admin_static %}
{% load static %}


{% block resource_list %}
{{resource_list|safe}}
{% endblock %}


{% block content_header %}
<!--<button id="addResourceButton">Add resource</button>-->
<div style="display:none">
<div id="dialog">
<form id="newResourceForm" action="create_resource/"
      method="post" class="form-inline">
    {% csrf_token %}
    {{ new_resource_form|bootstrap }}
    <p>
        <input id="newResourceFormSubmit" type="submit" value="Submit"/>
    </p>
</form>
</div>
<div id="dialog-confirm" title="Are you sure to approve the request?">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>Are you sure to approve the request?</p>
</div>

<div id="newBookingReqDialog">
<form id="newBookingReqForm" action="create_booking_req/"
      method="post" class="form-inline">
    {% csrf_token %}
    {{ booking_req_form|bootstrap }}
    <p>
        <input id="newBookingReqFormSubmit" type="submit" value="Submit"/>
    </p>
</form>
</div>
<div id="bookingReqEditDialog">
</div>
</div>
{% endblock %}

{% block content_foot %}
<div id="legendArea"></div>
{% endblock %}