/*table.calendar {border-collapse:collapse;font-family: Helvetica, Arial, sans-serif;text-align: center;}
table.calendar tr {height:40px}
table.calendar thead {background-color:#F6F6F6}
table.calendar thead .resourceNameHeader {width:100px;}
table.calendar .weekend {color: #939496;background-color:#DDD;}
table.calendar .weekendInContent {background-color: #DDD;}
table.calendar td {border:solid 1px #CCC}
table.calendar tr td  div {width:25px;}
div.calendarViewPort {width:900px;overflow-x: auto;height:600px;border-color: #DDD; border-style: solid;}




table.rowTable {border-collapse:collapse;font-family: Helvetica, Arial, sans-serif;text-align: center;}

table.rowTable thead {background-color:#F6F6F6}
table.rowTable td {border:solid 1px #CCC}
table.rowTable thead .resourceNameHeader {width:100px;}
table.rowTable .resourceName {width:100px;}
table.rowTable .scrollTd {width:80%;}
.rowTablePositioningDiv {position:absolute;}*//*use absolute here, so the next element for parent div will still in the same start position*//*
.rowTableViewDiv {height:200px;overflow-y:auto}
.rowTableViewDiv {width:850px;}
.rowTableViewDiv {position:relative; top:22px;}
.rowContent {width:400px;}

table.fixedTable {border-collapse:collapse;font-family: Helvetica, Arial, sans-serif;text-align: center;border:solid 2px;}
table thead {background-color:#F6F6F6}
table td {border:solid 1px #CCC}
table thead .resourceNameHeader {width:100px;}
table .resourceName {width:100px;}
table .scrollTd {width:80%;}

.fixedTableDiv {position:absolute;}
.fixedTableTdDiv {width:800px;height:600px;}


.columnContainer {position:relative;z-index:1;left:103px;top:2px;width:700px;overflow:auto}
.columnContainerTable {border-collapse:collapse;font-family: Helvetica, Arial, sans-serif;text-align: center;}
.columnContainerTable thead {background-color:#F6F6F6}
.columnContainerTable tr td  div {width:25px;}
.columnContainerContent div {height:200px;}

*/
.legend {float:left;padding:20px;padding-left:10px;padding-right:10px;color:black;border: solid 3px white;}
.todo {border: 3px solid; border-color: yellow!important}


.tableDiv {width:700px;}
.divHeader {width:700px;}

.tableDiv {height:300px;}
.firstCol {height:300px}/*Container for the first column*/

.headerTable div {width:20px;}
.tableDiv div {width:20px;}

.tableDiv div {height:20px;}
.firstCol div {height:20px;}

.tableDiv {overflow:scroll;position:relative}/*right hand part width*/
.divHeader {overflow:hidden;}/*right hand part width*/
.headerTable {border:solid 1px #CCC}

.dataTable {width:300px;cellspacing:0;cellpadding:0;}
.firstColumnTable {width:100px}

/*table td {border:solid 1px #CCC}*/
.firstCol {overflow:hidden;}/*Container for the first column*/


.topTable {border:solid 1px #CCC}
table td {border:solid 1px #CCC}
.dataTable {border-collapse:collapse;font-family: Helvetica, Arial, sans-serif;text-align: center;}
/*.firstCol table {border:solid 1px #CCC}*/

.event {position:absolute;width:100px;height:100px;z-index:5;font-size:10px;overflow:hidden}

td.today {background-color:LightGoldenrodYellow	;}


.weekend {color: #939496;background-color:MintCream;}
/*.weekend {color: #939496;background-color:#DDD;}*/

.month {text-align:center}