{% extends "base.html" %}
{% load admin_static %}
{% load static %}


{% block extrahead %}
{{ block.super }}
<script type='text/javascript' src="{% static 'js/jquery-ui.js' %}"></script>
<link rel='stylesheet' type='text/css' href="{% static 'css/jquery-ui/smoothness/jquery-ui.css' %}" />
<script src="{% static resource_daily_scheduler/csrf.js' %}"></script>
{% endblock %}
{% block content %}
{% include "ajax_base.html" %}
<script>
$(function() { // document ready
    $('.datepicker').datepicker();
});
</script>
{% endblock %}